<div class="user-body">
    <h1>
      Welcome,  <%= @profile.account_holder_name %>
    </h1>
    <h2> You're currently viewing <%= @profile.student_name %>'s profile</h2>
    <h3> If you bothered doing the homework, your child would be making progress. </h3>
  </div>
    <div class="each-info">
      <span  class="usr-attr">email:  </span>
      <%= @profile.account_holder_email %> <br>
    </div>
  </div><!--end of user info-->
</div><!--end of user-body-->